body {
    /*background-image: url("MMP05867.jpg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color:rgb(0, 0, 0);
    background-image: url("MMP05867.jpg")
  }

h1 {
    color:#fff;
    font-size: 10vb;
}

h2 {
    color:#fff
}
.orb {
    background-color:black;
    background-image: url("KinkyMiraSigilWhiteNoWords.png");
    background-size: calc(75%);
    background-repeat: no-repeat;
    background-position: center;
    position: center;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 50px #f0f,
      inset -20px 0 50px #0ff,
      inset 20px 0 50px #f0f,
      inset -20px 0 50px #0ff,
      0 0 50px #fff,
      -10px 0 50px #f0f,
      10px 0 50px #0ff;
  }

  footer {
    text-align: center; 
    bottom: 0%;
    width: 99%;
    font-size: small;
    font-style: normal;
    color:azure;
}

a {
  color:white;
}
a.hover {
  color:#f0f;
}

hr {
  height: 0%;
  color: black;
  border:none;
}